<?xml version="1.0"?>
<launch>

 	<node pkg="rosserial_python" type="serial_node.py" name="serial_node">
    		<param name="port" value="/dev/ttyACM0"/>
    		<param name="baud" value="115200"/>
  	</node>
	<!-- start control node -->
	<node pkg="bluerov2" type="opencm904_node.py" name="opencm904_node" output="screen"/>
	<!-- <node pkg="bluerov2" type="opencm904_control.py" name="opencm904_control" output="screen"/>
	<node pkg="bluerov2" type="opencm904_teleop.py" name="opencm904_teleop" output="screen"/>
	-->
</launch>
